{% extends "layout/base.html" %} {% block styles %}
<link rel="stylesheet" href="{% static 'css/global.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/faq.min.css' %}" />
{% endblock %} {% block content %}
<div class="container">
  {% include 'partials/breadcrumbs.html' with breadcrumbs=breadcrumbs %}
</div>

<section class="container">

  <h2 class="faq-h2">FAQ - najczęściej zadawane pytania</h2>

  <div class="faq"> 
     <div class="faq__img">
        <img class="faq__img__item"src="/static/images/faq.png" alt="FAQ - CourseBook">
     </div>

     <div class="faq__content">



        <div class="faq__content__box">
           <h3 class="faq__content__box__question">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta eius cupiditate exercitationem eveniet quam unde? Eius, eveniet earum?
              <svg class="faq__content__box__question__svg" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="#1d1d1d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
           </h3> 
           <p class="faq__content__box__answer">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque totam quidem ducimus amet inventore consequuntur laborum suscipit nobis nihil recusandae! Doloribus, atque. A excepturi at quibusdam libero quas! Asperiores porro amet dignissimos! Tempore vero dolore dolorum praesentium, iure esse molestiae cum aperiam minima reprehenderit nisi architecto dolorem, quas ab, perspiciatis provident distinctio? Esse tenetur natus similique eum, quasi saepe officia libero, omnis, sint ipsam eaque dolorum nulla officiis voluptas alias architecto? Sed, quia impedit sunt debitis dolorem nesciunt accusamus qui. 
           </p>
        </div> 



        <div class="faq__content__box">
           <h3 class="faq__content__box__question">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta eius cupiditate exercitationem eveniet quam unde? Eius, eveniet earum?
              <svg class="faq__content__box__question__svg" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="#1d1d1d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
           </h3>
           <p class="faq__content__box__answer">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque totam quidem ducimus amet inventore consequuntur laborum suscipit nobis nihil recusandae! Doloribus, atque. A excepturi at quibusdam libero quas! Asperiores porro amet dignissimos! Tempore vero dolore dolorum praesentium, iure esse molestiae cum aperiam minima reprehenderit nisi architecto dolorem, quas ab, perspiciatis provident distinctio? Esse tenetur natus similique eum, quasi saepe officia libero, omnis, sint ipsam eaque dolorum nulla officiis voluptas alias architecto? Sed, quia impedit sunt debitis dolorem nesciunt accusamus qui. 
           </p>
        </div>

        


        <div class="faq__content__box">
           <h3 class="faq__content__box__question">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta eius cupiditate exercitationem eveniet quam unde? Eius, eveniet earum?
              <svg class="faq__content__box__question__svg" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="#1d1d1d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
           </h3>
           <p class="faq__content__box__answer">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque totam quidem ducimus amet inventore consequuntur laborum suscipit nobis nihil recusandae! Doloribus, atque. A excepturi at quibusdam libero quas! Asperiores porro amet dignissimos! Tempore vero dolore dolorum praesentium, iure esse molestiae cum aperiam minima reprehenderit nisi architecto dolorem, quas ab, perspiciatis provident distinctio? Esse tenetur natus similique eum, quasi saepe officia libero, omnis, sint ipsam eaque dolorum nulla officiis voluptas alias architecto? Sed, quia impedit sunt debitis dolorem nesciunt accusamus qui. 
           </p>
        </div>




        <div class="faq__content__box">
           <h3 class="faq__content__box__question">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta eius cupiditate exercitationem eveniet quam unde? Eius, eveniet earum?
              <svg class="faq__content__box__question__svg" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="#1d1d1d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
           </h3>
           <p class="faq__content__box__answer">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque totam quidem ducimus amet inventore consequuntur laborum suscipit nobis nihil recusandae! Doloribus, atque. A excepturi at quibusdam libero quas! Asperiores porro amet dignissimos! Tempore vero dolore dolorum praesentium, iure esse molestiae cum aperiam minima reprehenderit nisi architecto dolorem, quas ab, perspiciatis provident distinctio? Esse tenetur natus similique eum, quasi saepe officia libero, omnis, sint ipsam eaque dolorum nulla officiis voluptas alias architecto? Sed, quia impedit sunt debitis dolorem nesciunt accusamus qui. 
           </p>
        </div>




        <div class="faq__content__box">
           <h3 class="faq__content__box__question">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta eius cupiditate exercitationem eveniet quam unde? Eius, eveniet earum?
              <svg class="faq__content__box__question__svg" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="#1d1d1d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
           </h3>
           <p class="faq__content__box__answer">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque totam quidem ducimus amet inventore consequuntur laborum suscipit nobis nihil recusandae! Doloribus, atque. A excepturi at quibusdam libero quas! Asperiores porro amet dignissimos! Tempore vero dolore dolorum praesentium, iure esse molestiae cum aperiam minima reprehenderit nisi architecto dolorem, quas ab, perspiciatis provident distinctio? Esse tenetur natus similique eum, quasi saepe officia libero, omnis, sint ipsam eaque dolorum nulla officiis voluptas alias architecto? Sed, quia impedit sunt debitis dolorem nesciunt accusamus qui. 
           </p>
        </div>




        <div class="faq__content__box">
           <h3 class="faq__content__box__question">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta eius cupiditate exercitationem eveniet quam unde? Eius, eveniet earum?
              <svg class="faq__content__box__question__svg" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="#1d1d1d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
           </h3>
           <p class="faq__content__box__answer">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque totam quidem ducimus amet inventore consequuntur laborum suscipit nobis nihil recusandae! Doloribus, atque. A excepturi at quibusdam libero quas! Asperiores porro amet dignissimos! Tempore vero dolore dolorum praesentium, iure esse molestiae cum aperiam minima reprehenderit nisi architecto dolorem, quas ab, perspiciatis provident distinctio? Esse tenetur natus similique eum, quasi saepe officia libero, omnis, sint ipsam eaque dolorum nulla officiis voluptas alias architecto? Sed, quia impedit sunt debitis dolorem nesciunt accusamus qui. 
           </p>
        </div>




        <div class="faq__content__box">
           <h3 class="faq__content__box__question">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta eius cupiditate exercitationem eveniet quam unde? Eius, eveniet earum?
              <svg class="faq__content__box__question__svg" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="#1d1d1d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
           </h3>
           <p class="faq__content__box__answer">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque totam quidem ducimus amet inventore consequuntur laborum suscipit nobis nihil recusandae! Doloribus, atque. A excepturi at quibusdam libero quas! Asperiores porro amet dignissimos! Tempore vero dolore dolorum praesentium, iure esse molestiae cum aperiam minima reprehenderit nisi architecto dolorem, quas ab, perspiciatis provident distinctio? Esse tenetur natus similique eum, quasi saepe officia libero, omnis, sint ipsam eaque dolorum nulla officiis voluptas alias architecto? Sed, quia impedit sunt debitis dolorem nesciunt accusamus qui. 
           </p>
        </div>




        <div class="faq__content__box">
           <h3 class="faq__content__box__question">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta eius cupiditate exercitationem eveniet quam unde? Eius, eveniet earum?
              <svg class="faq__content__box__question__svg" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="#1d1d1d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
           </h3>
           <p class="faq__content__box__answer">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque totam quidem ducimus amet inventore consequuntur laborum suscipit nobis nihil recusandae! Doloribus, atque. A excepturi at quibusdam libero quas! Asperiores porro amet dignissimos! Tempore vero dolore dolorum praesentium, iure esse molestiae cum aperiam minima reprehenderit nisi architecto dolorem, quas ab, perspiciatis provident distinctio? Esse tenetur natus similique eum, quasi saepe officia libero, omnis, sint ipsam eaque dolorum nulla officiis voluptas alias architecto? Sed, quia impedit sunt debitis dolorem nesciunt accusamus qui. 
           </p>
        </div>




        <div class="faq__content__box">
           <h3 class="faq__content__box__question">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta eius cupiditate exercitationem eveniet quam unde? Eius, eveniet earum?
              <svg class="faq__content__box__question__svg" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="#1d1d1d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
           </h3>
           <p class="faq__content__box__answer">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque totam quidem ducimus amet inventore consequuntur laborum suscipit nobis nihil recusandae! Doloribus, atque. A excepturi at quibusdam libero quas! Asperiores porro amet dignissimos! Tempore vero dolore dolorum praesentium, iure esse molestiae cum aperiam minima reprehenderit nisi architecto dolorem, quas ab, perspiciatis provident distinctio? Esse tenetur natus similique eum, quasi saepe officia libero, omnis, sint ipsam eaque dolorum nulla officiis voluptas alias architecto? Sed, quia impedit sunt debitis dolorem nesciunt accusamus qui. 
           </p>
        </div>




        <div class="faq__content__box">
           <h3 class="faq__content__box__question">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta eius cupiditate exercitationem eveniet quam unde? Eius, eveniet earum?
              <svg class="faq__content__box__question__svg" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="#1d1d1d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
           </h3>
           <p class="faq__content__box__answer">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque totam quidem ducimus amet inventore consequuntur laborum suscipit nobis nihil recusandae! Doloribus, atque. A excepturi at quibusdam libero quas! Asperiores porro amet dignissimos! Tempore vero dolore dolorum praesentium, iure esse molestiae cum aperiam minima reprehenderit nisi architecto dolorem, quas ab, perspiciatis provident distinctio? Esse tenetur natus similique eum, quasi saepe officia libero, omnis, sint ipsam eaque dolorum nulla officiis voluptas alias architecto? Sed, quia impedit sunt debitis dolorem nesciunt accusamus qui. 
           </p>
        </div>




        <div class="faq__content__box">
           <h3 class="faq__content__box__question">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta eius cupiditate exercitationem eveniet quam unde? Eius, eveniet earum?
              <svg class="faq__content__box__question__svg" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="#1d1d1d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
           </h3>
           <p class="faq__content__box__answer">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque totam quidem ducimus amet inventore consequuntur laborum suscipit nobis nihil recusandae! Doloribus, atque. A excepturi at quibusdam libero quas! Asperiores porro amet dignissimos! Tempore vero dolore dolorum praesentium, iure esse molestiae cum aperiam minima reprehenderit nisi architecto dolorem, quas ab, perspiciatis provident distinctio? Esse tenetur natus similique eum, quasi saepe officia libero, omnis, sint ipsam eaque dolorum nulla officiis voluptas alias architecto? Sed, quia impedit sunt debitis dolorem nesciunt accusamus qui. 
           </p>
        </div>




        <div class="faq__content__box">
           <h3 class="faq__content__box__question">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta eius cupiditate exercitationem eveniet quam unde? Eius, eveniet earum?
              <svg class="faq__content__box__question__svg" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="#1d1d1d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
           </h3>
           <p class="faq__content__box__answer">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque totam quidem ducimus amet inventore consequuntur laborum suscipit nobis nihil recusandae! Doloribus, atque. A excepturi at quibusdam libero quas! Asperiores porro amet dignissimos! Tempore vero dolore dolorum praesentium, iure esse molestiae cum aperiam minima reprehenderit nisi architecto dolorem, quas ab, perspiciatis provident distinctio? Esse tenetur natus similique eum, quasi saepe officia libero, omnis, sint ipsam eaque dolorum nulla officiis voluptas alias architecto? Sed, quia impedit sunt debitis dolorem nesciunt accusamus qui. 
           </p>
        </div>






     </div>
  </div>
</section>

<script src="{% static 'js/main.min.js' %}"></script>
<script src="{% static 'js/faq.min.js' %}"></script>
{% endblock %}
