<div class="nav__cart">

    <div class="nav__empty">
        <div class="nav__cart-head">
            <p class="nav__cart-head-text">Twój koszyk</p>
            <svg class="nav__cart-head-closebtn" width="28" height="28" viewBox="0 0 28 28" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M7.46683 22.1668L5.8335 20.5335L12.3668 14.0002L5.8335 7.46683L7.46683 5.8335L14.0002 12.3668L20.5335 5.8335L22.1668 7.46683L15.6335 14.0002L22.1668 20.5335L20.5335 22.1668L14.0002 15.6335L7.46683 22.1668Z"
                    fill="#A4243B" />
            </svg>
        </div>

        <div class="nav__cart-container">
            <div class="nav__cart-container-boxes jsCartBody">
                
                <p>Pusty koszyk</p>


            </div>
        </div>
    </div>

    
    <div class="nav__cart-container-footer jsAddGoToCheckoutBtn">
        <div class="nav__cart-container-footer-line"></div>
        <div class="nav__cart-container-footer-sum">
            <p class="nav__cart-container-footer-sum-text">Wartość koszyka</p>
            <p class="nav__cart-container-footer-sum-text-price"><span class="jsSumPrice">0,00</span> zł</p>
        </div>
        <a title="Poznaj oferte" href="#" class="btn btn--primary nav__cart-container-footer-btn">Do kasy
            <span class="btn__arrow">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 20L10.575 18.6L16.175 13H4V11H16.175L10.575 5.4L12 4L20 12L12 20Z" fill="white" />
                </svg>
            </span>
        </a>
    </div>
    
</div>
<div class="overlay"></div>